.section-about {
	padding: 25rem 0;
	// Header image - 95vh, the right-bottom angle finsihes at 75vh, so the difference is 20vh. We do this to color the top-left angle of the main element.
	margin-top: -20vh;
	background-color: $color-grey-light-1;
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);

	// to cover the entire section
	background-size: cover;

	transform: skewY(-7deg);
	margin-top: -10rem;

	//selects everything that is a direct child of the section - features (direct child - (>) sign)
	& > * {
		transform: skewY(7deg);
	}
}

.section-tours {
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;
	background-color: $color-grey-light-1;
}
